ray[train,tune,serve,data,rllib] == 2.54.0
fastapi[all] == 0.114.1
keras == 2.15.0
mlflow == 3.2.0
flytekit==1.15.4
evaluate
pillow
requests
tensorflow == 2.15.1
s3fs
kubernetes
pandas <= 2.1.4
numpy
argparse
prometheus-api-client == 0.5.5
minio
