# TODO reduce number of packages to only necessary dependencies for project to work
zenml
ray[data,train,tune,serve] == 2.6.3
torch
torchvision
pillow
requests
starlette
evaluate
fastapi
python-multipart
filelock
tqdm
flytekit
pandas
scikit-learn
zenml
pyyaml
numpy
argparse
tensorflow
datasets
keras
kubernetes
