zenml == 0.50.0
ray[train,tune,serve] == 2.9.1
torch
torchvision
pillow
requests
evaluate
fastapi
python-multipart
filelock
tqdm
flytekit
pandas
scikit-learn
pyyaml
numpy
argparse
tensorflow
datasets
keras
kubernetes
