# Requirements by model deplyoment template
fastapi[all] == 0.114.1
uvicorn
python-multipart
mlflow == 2.16.0

# Add your own dependencies for model inference and data preprocessing
# numpy
# torch
# torch_geometric
# torchvision
